
/* ----------------------------------- */
/* ---------- PARTIE : HTML ---------- */
/* ----------------------------------- */
HTML
{
	background-image:radial-gradient(white, rgba(100, 60, 90, 0.4));
	background-attachment: fixed;
	font:"Times New Roman", Times, serif;
}



/* ----------------------------------- */
/* ---------- PARTIE : BODY ---------- */
/* ----------------------------------- */
BODY
{
	
}

.body2
{
	width:980px;
	margin:0 auto;
	background-image:radial-gradient(white, rgba(100, 60, 90, 0.9));
	background-attachment: fixed;
}



/* ----------------------------------- */
/* --------- PARTIE : HEADER --------- */
/* ----------------------------------- */
header
{
	width:980px;
	height:auto;
	background-image:radial-gradient(white, rgba(120, 60, 90, 1));
}

#header_photo
{
	width:28%;
	float:left;
}

#header_photo img
{
	width:100%;
}

#header_titre
{
	width:68%;
	padding:2%;
	float:right;
	text-align:center;
	color:#303;
}

#header_langues
{
	float:right;
}
#header_langues img
{
	width:40px;
	height:40px;
}

#header_bordure
{
	width:980px;
}



/* ----------------------------------- */
/* --------- PARTIE : CONTENU -------- */
/* ----------------------------------- */
.contenu
{
	width:940px;
	height:auto/*1000px*/;
	padding:20px;
	clear:both;
}

.bouton
{
	width:450px;
	height:60px;
	margin:50px 0;
	padding: 12px 25px 12px 25px;
	position: relative;
	display: inline-block;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	border-radius: 35px 35px 35px 35px;
	color: white;
	background-color: #c6b4a0;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
	box-shadow: 0 5px 5px #b89d80, 0 9px 0 #827262, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
	font-size: 1.2em;
	text-decoration: none;
	cursor:pointer;
}

.center {
	text-align: center;
}
.section_boutons
{
	width:250px;
	float:left;
}
.section_boutons a
{
	text-decoration:none;
	color:white;
}
.section_boutons:hover
{
	color: #fff !important;
}
.section_boutons:active
{
	top: 7px;
	color: #fff !important;
}

#section_diplomes
{
	width:200px;
}

#section_experiences
{
	width:200px;
}

#section_langages
{
	width:200px;
}

#section_projets
{
	width:200px;
}

#section_CV
{
	width:200px;
}



/* ----------------------------------- */
/* --------- PARTIE : FOOTER --------- */
/* ----------------------------------- */
footer
{
	width:100%;
	margin-top:-10px;
	margin-left:-10px;
	position:absolute;
	clear:both;
	color:white;
	background-color:#333;
}

#footer_sites_partenaires
{
	width:40%;
	height:130px;
	float:left;
	list-style-type:none;
}

#footer_sites_partenaires a, #footer_sites_partenaires h4
{
	margin-left:40px;
	color:white;
}

footer p
{
	width:60%;
	height:30px;
	float:right;
	text-align:center;
}

#footer_contact
{
	width:60%;
	height:90px;
	float:right;
	text-align:center;
}
#footer_contact img
{
	width:40px;
	height:40px;
}

#footer_politique
{
	width:100%;
	margin:20px 0;
	clear:both;
	text-align:center;
	list-style-type:none;
}

#footer_politique a
{
	color:white;
}


